{% load static %}
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/jquery.dataTables.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/jquery.dataTables.css' %}">
<link href="{% static 'vendor/datatables/buttons.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'vendor/datatables/select.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'vendor/datatables/dataTables.dateTime.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'vendor/datatables/editor.dataTables.min.css' %}" rel="stylesheet" type="text/css" />