{% extends "layouts/base.html" %}
{% load static %}
{% block title %}
FenrisCMS Dashboard
{% endblock %}
{% block content %}
<script type="text/javascript" src="/templates/layouts/js/jquery-3.6.0.min.js"></script>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-lg-left">
            <h1 class="mt-5">Dashboard</h1>
            <hr class="solid">Welcome to FenrisCMS - Please make a choice in the table above. Have a nice day. :-)
        </div>
    </div>
</div>


<html>

<body>

</body>

</html>

{% endblock %}